@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ background-color: #040404;
   
    background-image: linear-gradient(0deg, #040404 0%, #4a4a4a 35%, #a3a3a3 75%);
}

body{

    font-family: 'Roboto Serif', serif;
    background-image: url(images/posiblefondo1.jpg); 
    background-size: cover; 
    
    min-height: 100vh;

}

footer{
    background-color: #040404;
     background-image: linear-gradient(0deg, #040404 0%, #4a4a4a 35%, #818181 75%);  
    padding: 10px;  

}

a:-webkit-any-link{
    text-decoration: none;
    color: rgb(205, 206, 204);
    font-variant-caps: petite-caps;

}

.img-banner{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.barra-nav{
  position: sticky;
}

.navegacion li{
   
  display: inline;
  padding: 5px;
  border-radius: 10px;
  margin: 8px;
}

.navegacion li:hover{
  transition: 1s;
  background-color: rgb(128, 39, 27);
}

p{
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
}
/*                                              TESTEO GRID                                                */ 
.section1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr ;
  grid-template-areas: 
      "titulo titulo "
      "trono texto";
}
                                            
.section2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-template-areas: 
      "encabezadoli"
      "libros"
      "proxim"
      "libros2";
}  

#encabezadoli{
  padding-top: 150px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  grid-area: encabezadoli;
  color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
    font-variant: petite-caps;  

}

.encabezado{
background-color: transparent;
grid-area: titulo;

  padding-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.contenedor-img{
background-color: transparent;
grid-area: trono;

  position: relative;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.texto-derecha{
background-color: transparent;
grid-area: texto;

  display: flex;
 flex-direction: column;
 flex-wrap: nowrap;  
   position: inherit;
   top: 15%; 
  /*  bottom: 50%;  */
   left: 47%; 

  overflow: auto;
}

/*                                           TESTEO GRID                                                   */ 

.footer{
   width: 100%;
  text-align: center;

  position: sticky;
  top: 100%;
  border-top: solid 1px;
    border-top-color: rgb(68, 68, 68);

}

.footer-img{
  display: flex;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 5px;

}

.footer-text{
  font-style: normal;
  font-weight: 550;
  font-size: 13px;
  padding: 8px;
  margin-bottom: 10px;
  color: #131313;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  list-style: none;
}

#lista-linea{
  list-style: none;
  display: block;
}

.titulos{
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
    font-variant: petite-caps;   
}

.titulo-con{
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
    font-variant: petite-caps;
    padding: 20px;
    margin: 50px;
}

.texto-au{
  display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 20px;
    margin: 70px;
}

.texto-index{
  font-size: 18px;
    padding-left: 2px;
    padding-right: 50px;
    padding-top: 50px;
}

#martinimg{
    width: 70%;
     padding: 20px;
     margin: 30px;
}

#martinvid{
display: flex;
justify-content: center;

     padding: 20px;
     margin: 30px;
}

.foto1{
    padding: 0px;
    margin-left: 0px;
    width: 110%;
}

.texto1{
    margin: 100px;
    padding-inline: 50px;
}

h1{
    font-size: 30px;
    padding-bottom: 50px;
}

h2{
    font-size: 20px;
}

.pie-pag{
    color: rgb(205, 206, 204);
    font-style: normal;
    font-variant-caps: petite-caps;
}

#proximamente{
padding-bottom: 30px;
grid-area: proxim;
}
.portadas2{
  display: flex;
    flex-direction: row;
    justify-content: center;
  grid-area: libros2;
}
.portadas{
  display: flex;
    flex-direction: row;
    justify-content: center;
  grid-area: libros;
}
#portada1{
    padding: 10px;
    width: 12%;
}
#portada2{
    padding: 10px;
    width: 12.1%;
}
#portada3{
    padding: 10px;
    width: 12.2%;
}
#portada4{
    padding: 10px;
    width: 12.3%;
}
#portada5{
    padding: 10px;
    width: 12.2%;
}
#portada6{
    padding: 10px;
    width: 14%;
    margin-bottom: 50px;
}
#portada7{
    padding: 10px;
    width: 14.1%;
    margin-bottom: 50px;
}

input{
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.formulario{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 30%;
}

.texto-lt{
    color: rgb(224, 223, 223);
}

#carrousel{
  margin: auto;
  background-color: rgb(34, 33, 33);
  max-width: 800px;
  width: 100%;
  height: 900px;
  padding: 30px;
  box-sizing: border-box;
}

#carrousel > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#carrousel > ul.slider{
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#carrousel > ul.slider h1{
  position: absolute;
  background-color: transparent;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
}

#carrousel > ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

#carrousel > ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#carrousel > ul.slider li iframe{
  width: 80%;
  height: 300px;
  object-fit: cover;
  margin-top:  80px;
  margin-inline: 70px;
  padding: 20px;
}

#carrousel > ul.slider li:first-child {
    opacity: 1; 
  }  
#carrousel > ul.slider li:nth-child(2) {
  opacity: 1;
}
#carrousel > ul.slider li:nth-child(3) {
  opacity: 1;
}
#carrousel > ul.slider li:nth-child(4) {
  opacity: 1;
}
#carrousel > ul.slider li:nth-child(5) {
  opacity: 1;
}
#carrousel > ul.slider li:nth-child(6) {
  opacity: 1;
}
#carrousel > ul.slider li:nth-child(7) {
  opacity: 1;
}

#carrrousel > ul.slider li:target {
    opacity: 1; 
}

#carrousel > .menu{
  text-align: center;
  margin: 20px;
}

#carrousel > .menu li{
  display: inline-block;
  text-align: center;
}

#carrousel > .menu li a{
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(209, 202, 202);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
#carrousel > footer{
 margin: 400px;
} 

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: rgb(39, 38, 38);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  } 
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  } 
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: rgb(41, 41, 41);
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: rgb(41, 41, 41);
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: rgb(128, 39, 27);
    }            
    
  }
  /*                     Responive         */ 

@media only screen and (max-width: 768px) {

  .section1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr ;
    grid-template-areas: 
      "titulo"
      "trono"
      "texto";
  }
  .texto-index{
    text-align: center;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .portadas2{
    justify-content: space-around;
  }
  #portada1{
    padding: 5px;
    width: 20%;
}
#portada2{
    padding: 5px;
    width: 20.1%;
}
#portada3{
    padding: 5px;
    width: 20.2%;
}
#portada4{
    padding: 5px;
    width: 20.3%;
}
#portada5{
    padding: 5px;
    width: 20.2%;
}
#portada6{
    padding: 5px;
    width: 26%;
    margin-bottom: 50px;
}
#portada7{
    padding: 5px;
    width: 26.1%;
    margin-bottom: 50px;
}
#martinvid{
  display: flex;
  justify-content: center;
  width: fit-content;
  }
  #martinimg{
  display: flex;
  justify-content: center;
  width: fit-content;
    width: 100%;
     padding: 10px;
     margin: 10px;
}   
#carrousel > ul.slider li iframe{
  width: -webkit-fill-available;;
  height: 250px;
  object-fit: cover;
  margin-top:  80px;
  padding: 20px;      
 margin-inline: 2px;
}
.texto-casas{
  padding-bottom: 10px;
  font-weight: bolder;
}
}

.w-100 {
  width: 125vh!important;
  margin: auto;
  margin-bottom: 50px;
}
.carrusel-texto{
  text-align: center;
}
#stark{
  margin-top: 10%;
}
#baratheon{
  margin-top: 10%;
}
#lannister{
  margin-top: 10%;
}
#targaryen{
  margin-top: 10%;
}
#arryn{
  margin-top: 10%;
}
#tyrell{
  margin-top: 10%;
}
#greyjoy{
  margin-top: 10%;
}
.carousel-item{
  text-align: center;
  margin-bottom: 10%;
  padding-inline: 20%;
  transition: transform .6s ease-in-out;
  
}
.carrusel-titulo{
  font-size: x-large;
  font-weight: bolder;
}
#popper-index{
  color: rgb(209, 202, 202);
  background-color: rgb(14, 13, 13);
  border-color: rgb(87, 84, 84);
  margin-left: 54vh;
  margin-right: 40vh;
}
