body{

    font-family: 'Roboto Serif', serif;
    background-image: url(/images/posiblefondo1.jpg); 
    background-size: cover; 
    max-width: 100vw;
    min-height: 100vh;

}
p{
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr ;
    grid-template-areas: 
        "titulo titulo "
        "trono texto";
  
          .encabezado{
           background-color: transparent;
           grid-area: titulo;
           grid-row: 1;
           grid-column: 1 1;
          
            padding-top: 50px;
            margin-bottom: 20px;
            padding-bottom: 10px;
          
              .titulos{
                  color: rgb(0, 0, 0);
                  font-style: italic;
                  text-align: center;
                  font-variant: petite-caps;   
                  font-size: map-get($letra, media); // 500
              }
          
  
          }
  }
                                              
  .section2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: 
        "encabezadoli"
        "libros"
        "proxim"
        "libros2";
  
      #encabezadoli{
          padding-top: 150px;
          margin-bottom: 20px;
          padding-bottom: 10px;
          grid-area: encabezadoli;
          grid-row: 1;
          grid-column: 1;
          color: rgb(0, 0, 0);
          font-style: italic;
          text-align: center;
          font-variant: petite-caps;  
        
      }
          .portadas{
              @include alineacion(flex, row);
              justify-content: space-evenly;
              grid-area: libros;
              grid-row: 2;
              grid-column: 1;
  
              #popover-li1{
                  background-image: url(/images/libros/libro1.jpg); 
                    width: 20vh;
                    height: 30vh;
                    background-size: cover;  
                    border-color: rgb(8, 8, 8);
                }
                #popover-li2{
                  background-image: url(/images/libros/libro2.jpg); 
                    width: 20vh;
                    background-size: cover;  
                    border-color: rgb(8, 8, 8);
                }
                #popover-li3{
                  background-image: url(/images/libros/libro3.jpg); 
                    width: 20vh;
                    background-size: cover;  
                    border-color: rgb(8, 8, 8);
                }
                #popover-li4{
                  background-image: url(/images/libros/libro4.jpg); 
                    width: 20vh;
                    background-size: cover;  
                    border-color: rgb(8, 8, 8);
                }
                #popover-li5{
                  background-image: url(/images/libros/libro5.jpg); 
                    width: 20vh;
                    background-size: cover;  
                    border-color: rgb(8, 8, 8);
                }
          }
              #proximamente{
                  padding-bottom: 30px;
                  grid-area: proxim;
                  grid-row: 3;
                  grid-column: 1;
                  text-align: center;
                  padding-top: 10vh;
              }
                  .portadas2{
                      display: flex;
                      flex-direction: row;
                      justify-content: space-evenly;
                      grid-area: libros2;
                      grid-row: 4;
                      grid-column: 1;
                      margin-bottom: 10vh;
  
                      #popover-li6{
                          background-image: url(/images/libros/libro6.jpg); 
                            width: 20vh;
                            height: 30vh;
                            background-size: cover;  
                            border-color: rgb(8, 8, 8);
                        }
                        #popover-li7{
                          background-image: url(/images/libros/libro7.jpg); 
                            width: 20vh;
                            background-size: cover;  
                            border-color: rgb(8, 8, 8);
                        }
                  }
  }  
  
  .contenedor-img{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-color: transparent;
  grid-area: trono;
  grid-row: 2;
  grid-column: 1;
  
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 50px;
  
      .foto1{
        max-width: 100vw;
        padding: 0px;
        margin-left: 0px;
        width: 100%;
      }
  
        #popper-index{
          margin-top: 5vh;
              color: rgb(209, 202, 202);
              background-color: rgb(14, 13, 13);
              border-color: rgb(87, 84, 84);
           }
  }
  
  .texto-derecha{
    max-width: 100vw;
   background-color: transparent;
   grid-area: texto;
   grid-row: 2;
   grid-column: 2;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;  
   position: inherit;
   top: 15%; 
   left: 47%; 
   overflow: auto;
  
      .texto-index{
        max-width: 100vw;
          @extend %centrado;
          font-size: 18px;
          padding-top: 50px;
      }
    
}
ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    list-style: none;
  }  
  .titulo-con{
      color: rgb(0, 0, 0);
      font-style: italic;
      text-align: center;
      font-variant: petite-caps;
      padding: 20px;
      margin: 50px;
  }
  
  .texto-au{
    display: flex;
      flex-direction: column;
      align-items: center;
  
      text-align: center;
      padding: 20px;
      margin: 70px;
  
          #martinimg{
            @extend %centrado;
              width: 70%;
              padding: 20px;
              margin: 30px;
          }
  
              #martinvid{
                @extend %centrado;
                  padding: 20px;
                  margin: 30px;
              }
  
  }
  
  h1{
      font-size: 30px;
      padding-bottom: 50px;
      text-align: center;
       /* #titulo-tiempo{
            @include alineacion(flex, row);
            margin-top: 5vh;                                                     
            padding: 2vh;
            color:  rgb(209, 202, 202);
            background-color: rgb(87, 84, 84);
        } */
  }
  #titulo-tiempo{
    @include alineacion(flex, row);
    margin-top: 5vh;                                                      /* */
    padding: 2vh;
    color:  rgb(249, 250, 251);
    background-color: rgb(39, 38, 38);
    justify-content: center;
}
  h2{
      font-size: 20px;
  }
  
  input{
      width: 40%;
      height: 7vh;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
      
      &__com{
          height: 16vh;
  }
  }
  
  
  .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      text-align: center;
      white-space: pre-wrap;
      margin-bottom: 10%;
      .interruptor-main{
        display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
      }
  }
/*                                             Animacion nieve */
  body {
  
  
  
  filter: drop-shadow(0 0 10px white);
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
       