@media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: rgb(41, 41, 41);
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: rgb(41, 41, 41);
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: $secondary_color;
    }            
    
  }
   
  
  @media only screen and (max-width: 768px) {
    body{
      max-width: 100vw;
    }
    header{
      max-width: initial;
    }
    footer{
      max-width: initial;
    }
  .section1{
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr ;
    grid-template-areas: 
      "titulo"
      "trono"
      "texto";
  }
  .texto-index{
    text-align: center;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .portadas2{
    justify-content: space-evenly;
  }
  #portada1{
    padding: 5px;
    width: 20%;
  }
  #portada2{
    padding: 5px;
    width: 20.1%;
  }
  #portada3{
    padding: 5px;
    width: 20.2%;
  }
  #portada4{
    padding: 5px;
    width: 20.3%;
  }
  #portada5{
    padding: 5px;
    width: 20.2%;
  }
  #portada6{
    padding: 5px;
    width: 26%;
    margin-bottom: 50px;
  }
  #portada7{
    padding: 5px;
    width: 26.1%;
    margin-bottom: 50px;
  }
  /* }  */

  #martinvid{
  display: flex;
  justify-content: center;
  width: fit-content;
  }
  #martinimg{
  display: flex;
  justify-content: center;
  width: fit-content;
    width: 100%;
     padding: 10px;
     margin: 10px;
  }   
  #carrousel > ul.slider li iframe{
  width: -webkit-fill-available;;
  height: 250px;
  object-fit: cover;
  margin-top:  80px;
  padding: 20px;      
  margin-inline: 2px;
  }
  .carousel-item iframe{
    width: 100%;
  }
  .texto-casas{
  padding-bottom: 10px;
  font-weight: bolder;
  }
  .texto-derecha{
    grid-column: 1;
    grid-row: 3;
  }  
  }

 